@import "../globalColor";

.background {
    color: $background;
}
[data-scroll-section]{
    overflow: hidden;
    position: fixed;

}
[data-scroll-container]{
    overflow: hidden;
    position: fixed;

}
