.ask-line-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    text-align: center;
    overflow: hidden;
}
.ask-line-svg{
    display: inline-block;
    height: 100%;
}
.ask-section{
    position: relative;
}