@import "../../globalColor";

canvas {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 600px;
    
}

.globeWrapper {
    height: 100vw;
    background:$background;
}

.title {
    margin-top: -20px;
    text-align: center;
    font-size:10vw;
    text-transform: uppercase;
    font-family: 'Montserrat';
    color: $textColor;
    font-weight: 900;
}