svg {
  width: inherit;
  height: inherit;
}
.bg {
  fill: #f3ded8;
}

.rwv-3 {
  fill: #b23915;
  stroke: #b23915;
}

.rwv-3,
.rwv-2,
.rwv-1,
.blwv {
  stroke-width: 2.51px;
  fill-rule: evenodd;
}

.rwv-2 {
  fill: #863729;
  stroke: #863729;
}

.rwv-1 {
  fill: #831b1b;
  stroke: #831b1b;
}

.blwv {
  fill: #181514;
  stroke: #181514;
}