// button colors
$buttonColor: #55198b;
$buttonHover: #8c43ce;
$topButtonHover: #000;

// text colors 
$titleColor: #000000;
$textColor: #000000;
$subTitle: #868e96;
$cardSubtitle: #666666;
$talkCardSubTitle: #7f8287;
$blogCardTitleColor: #262626;
$textColorDark: #ffffff;

//Background Colours
$background: #fff;
$background2: #fff;
$appHeaderBG: #282c34;

//Other
$appLink: #09d3ac;
$iconBackground: #333;
