// button colors
$buttonColor: #55198b;
$buttonHover: #8c43ce;
$topButtonHover: #000;

// text colors 
$titleColor: #690526;
$textColor: #DECCBE;
$subTitle: #CEA7A2;
$altTextColor:#944747;
$cardSubtitle: #666666;
$talkCardSubTitle: #7f8287;
$blogCardTitleColor: #262626;
$textColorDark: #ffffff;

//Background Colours
$background:  #181514;
$background2: #831b1b;
$background3: #863729;
$background4: #b23915;
$appHeaderBG: #181514;

//Other
$appLink: #09d3ac;
$iconBackground: #333;
