@import "./_globalColor.scss";
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $background;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
// @font-face {
//   font-family: 'Montserrat';
//   src: local('Montserrat'), url(./assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf) format('truetype');
// }
// @font-face {
//   font-family: 'FiraSans';
//   src: local('FiraSans'), url(./assets/fonts/Fira_Sans/FiraSans-Regular.ttf) format('truetype');
// }
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,700;0,900;1,700;1,900&family=Libre+Baskerville:wght@400;700&family=Montserrat:ital,wght@0,900;1,900&display=swap");

.wrapper {
	height: 100vh;
  max-width: 100vw;
}

.heading {
  padding-top: 1rem;
  padding-bottom: 3rem;
  padding-left: 2rem;

  #title {
    max-width: 50vw;
    color: rgba(222, 204, 190, 1);
    font-size: 7vw;;
    letter-spacing: 0%;
    text-align: left;
    font-family: "Montserrat", sans-serif;
  }
  #subtitle {
    max-width: 35vw;
    color: rgba(206, 167, 162, 1);
    font-size: 5vw;
    letter-spacing: 0%;
    text-align: left;
    font-family: "Fira Sans", sans-serif;
  }
}
.text {
	margin-left: 2rem;
	margin-right: 3rem;
	text-align: left;
    font-family: 'Montserrat', sans-serif;
    color: $textColor;
	font-size: clamp(2rem, 3vw, 8rem);
	text-transform: uppercase;
}